.dark-theme {
    --bg-color: #1a1a1a;
    --logo-color: #f0f0f0;
    --text-color: #e0e0e0;
    --subtext-color: #c0c0c0;
    --navbar-bg: #2b2b2b;
    --search-bg: #333333;
    --search-button-bg: #555555;
    --accent-color: #aaa8a4;
    --admin-form-bg: #2a2a2a;
    --user-thread-bg: #3d3d3d;
    --button-hover-text: #000000;
    --border-color: white;
    --thread-bg: #292933;
    --left-window-bg: #292933;
    --left-window-text: rgb(206, 206, 206);
    --right-window-bg: #3a3a45;
    --textarea-color: rgb(170, 170, 170);
    --bg-color-textarea: rgb(59, 59, 59);
    --left-link-color: rgb(196, 196, 195);
    --comment-button-bg: #bd4d4d;
    --item-bg: #414040;
}

.light-theme {
    --bg-color: #e4e4e4;
    --logo-color: #000;
    --text-color: #1a1a1a;
    --subtext-color: #333333;
    --navbar-bg: #f5f5f5;
    --search-bg: #e8e8e8;
    --search-button-bg: #dcdcdc;
    --accent-color: #747372;
    --admin-form-bg: #d1d0d0;
    --user-thread-bg: #f1f1f1;
    --button-hover-text: #000000;
    --border-color: black;
    --thread-bg: #b9b9b9;
    --left-window-bg: #222223;
    --left-window-text: rgb(0, 0, 0);
    --right-window-bg: rgb(199, 199, 199);
    --textarea-color: rgb(88, 88, 88);
    --bg-color-textarea: rgb(224, 224, 224);
    --left-link-color: rgb(33, 33, 33);
    --comment-button-bg: #692929;
    --item-bg: #a8a6a6;
}