{% for message in messages %}
    <div class="chat-message {% if message.author_str == user1.username %}message-user{% else %}message-other{% endif %}">
        {% if message.picture != "" %}
            <div class="image-message {% if message.caption %}has-caption{% endif %}">
                <img src="{{ message.picture }}" alt="image" class="chat-image">

                {% if message.text %}
                    <div class="caption {% if message.author_str == user1.username %}caption-user{% else %}caption-other{% endif %}">{{ message.text }}</div>
                {% endif %}

            </div>

        {% else %}
            {{ message.text }}

        {% endif %}
    </div>    
{% endfor %}